Answers to questions related to the weather dataset.

**Part 1**: From the dataset, write Python code to answer the following questions

In [1]:
import pandas as pd

data = pd.read_csv("data/weather-data.csv")
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [2]:
data.tail()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [3]:
data.shape

(8784, 8)

1. Find all records where the weather was exactly clear.

In [4]:
clear_skies = data[data["Weather"] == "Clear"]
clear_skies

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

2. Find the number of times the wind speed was exactly 4 km/hr.

In [5]:
four_km_wind_speed = data[data["Wind Speed_km/h"] == 4]
four_km_wind_speed

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

3. Check if there are any NULL values present in the dataset.

In [6]:
null_values = sum(data.isnull().values.ravel())
null_values

np.int64(0)

4. Rename the column "Weather" to "Weather_Condition."

In [7]:
data.rename(columns={"Weather": "Weather_Condition"}, inplace=True)
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

5. What is the mean visibility of the dataset?

In [8]:
mean_visibility = data["Visibility_km"].mean()
mean_visibility

np.float64(27.664446721311478)

6. Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.

In [9]:
wind_record = data[data["Wind Speed_km/h"] > 24]
wind_visibility_record = wind_record[wind_record["Visibility_km"] == 25]
wind_visibility_record

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

7. What is the mean value of each column for each weather condition?

In [10]:
numerical_data = data[["Temp_C", "Dew Point Temp_C", "Rel Hum_%", "Wind Speed_km/h", "Visibility_km", "Press_kPa", "Weather_Condition"]]
mean_weather_condition_data = numerical_data.groupby("Weather_Condition").mean()
mean_weather_condition_data[:10]

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather_Condition,,,,,,
Clear,6.825716,0.089367,64.497738,10.557315,30.153243,101.587443
Cloudy,7.970544,2.375810,69.592593,16.127315,26.625752,100.911441
Drizzle,7.353659,5.504878,88.243902,16.097561,17.931707,100.435366
"Drizzle,Fog",8.067500,7.033750,93.275000,11.862500,5.257500,100.786625
"Drizzle,Ice Pellets,Fog",0.400000,-0.700000,92.000000,20.000000,4.000000,100.790000
"Drizzle,Snow",1.050000,0.150000,93.500000,14.000000,10.500000,100.890000
"Drizzle,Snow,Fog",0.693333,0.120000,95.866667,15.533333,5.513333,99.281333
Fog,4.303333,3.159333,92.286667,7.946667,6.248000,101.184067
Freezing Drizzle,-5.657143,-8.000000,83.571429,16.571429,9.200000,100.202857
"Freezing Drizzle,Fog",-2.533333,-4.183333,88.500000,17.000000,5.266667,100.441667

8. Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.

In [11]:
clear_weather_great_humidity_visibility = (data["Weather_Condition"] == "Clear") & ((data["Rel Hum_%"] > 50) | (data["Visibility_km"] > 40))
data[clear_weather_great_humidity_visibility][:10]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
241,1/11/2012 1:00,-10.7,-17.8,56,17,25.0,101.49,Clear
242,1/11/2012 2:00,-12.0,-18.9,56,19,25.0,101.57,Clear
243,1/11/2012 3:00,-12.7,-19.4,57,19,25.0,101.64,Clear
244,1/11/2012 4:00,-13.4,-20.1,57,17,25.0,101.66,Clear
344,1/15/2012 8:00,-23.3,-28.5,62,7,24.1,102.45,Clear
351,1/15/2012 15:00,-15.4,-22.8,53,24,48.3,102.71,Clear

9. Find the number of weather conditions that include snow.

In [12]:
snow_weather_conditions = data[data["Weather_Condition"].str.contains("Snow")]
len(snow_weather_conditions["Weather_Condition"].unique())

19

**Part 2**: Move this CSV into a database of your choice and use SQL to answer 4 of the questions above.

In [13]:
import sqlite3

conn = sqlite3.connect("weather.db")
data.to_sql("data/weather", conn, if_exists="replace", index=False)

8784

In [14]:
%load_ext sql
%sql sqlite:///weather.db

In [15]:
%%sql

SELECT * FROM weather
LIMIT 5;

 * sqlite:///weather.db
Done.

[('1/1/2012 0:00', -1.8, -3.9, 86, 4, 8.0, 101.24, 'Fog'),
 ('1/1/2012 1:00', -1.8, -3.7, 87, 4, 8.0, 101.24, 'Fog'),
 ('1/1/2012 2:00', -1.8, -3.4, 89, 7, 4.0, 101.26, 'Freezing Drizzle,Fog'),
 ('1/1/2012 3:00', -1.5, -3.2, 88, 6, 4.0, 101.27, 'Freezing Drizzle,Fog'),
 ('1/1/2012 4:00', -1.5, -3.3, 88, 7, 4.8, 101.23, 'Fog')]

4. What is the meav visibility of the dataset?

In [16]:
%%sql

SELECT AVG(Visibility_km) as mean_visibility 
FROM weather;

 * sqlite:///weather.db
Done.

[(27.664446721311474,)]

8. Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.

In [17]:
%%sql

SELECT * 
FROM weather
WHERE Weather_Condition == 'Clear' AND ('Rel Hum_%' > 50 OR Visibility_km > 40)
LIMIT 5;

 * sqlite:///weather.db
Done.

[('1/3/2012 19:00', -16.9, -24.8, 50, 24, 25.0, 101.74, 'Clear'),
 ('1/5/2012 18:00', -7.1, -14.4, 56, 11, 25.0, 100.71, 'Clear'),
 ('1/5/2012 19:00', -9.2, -15.4, 61, 7, 25.0, 100.8, 'Clear'),
 ('1/5/2012 20:00', -9.8, -15.7, 62, 9, 25.0, 100.83, 'Clear'),
 ('1/5/2012 21:00', -9.0, -14.8, 63, 13, 25.0, 100.83, 'Clear')]

3. Check if there are any NULL values present in the dataset.

In [18]:
%%sql

SELECT COUNT(*) as null_values
FROM weather
WHERE MAX(Temp_C, 'Dew Point Temp_C', 'Rel hum_%', 'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather_Condition') IS NULL;

 * sqlite:///weather.db
Done.

[(0,)]

4. Find the number of weather conditions that include snow.

In [19]:
%%sql

SELECT DISTINCT COUNT(DISTINCT Weather_Condition) as snow_weather_conditions
FROM weather
WHERE Weather_Condition LIKE '%Snow%';

 * sqlite:///weather.db
Done.

[(19,)]